.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
.flex-horizontal-center {
  display: flex;
  justify-content: center;
}
