$small-laptop: 1050px;
$tablet: 850px;
$smartphone: 600px;
$small-smartphone: 500px;
$shadow: 0px 3px 6px #00000015;
$t-shadow: 0px 3px 6px #00000034;
$cubicTransition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
$darkGradientBackground: linear-gradient(#151617ec, #626364e7);
$lightGradientBackground: linear-gradient(#f5f6f7ec, #7b7b7ce7);
