@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";

.select-group {
  display: flex;
  flex-direction: column;
  .form-select-label {
    color: $black;
    font-size: 1.2em;
    font-family: "FiraBold";
    margin-left: 0.2em;
    margin-bottom: 0.5em;
  }
  .form-select {
    color: $textColor;
    font-family: "FiraBold";
    font-size: 1.2em;
    padding: 0.3em 0 0.3em 0em;
    outline: none !important;
    &:hover {
      outline: none !important;
    }
    .form-select-option {
      outline: none !important;
      font-family: "FiraBold";
    }
  }
}
