@import "../../constants/scss/framework";
@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";
* {
  box-sizing: border-box;
}
.children-container {
  width: 100%;
  min-height: calc(100vh);
  @include small-laptop() {
    min-height: calc(100vh - 7em);
    padding-top: 7em;
  }
}
.mbile-cart-wrapper {
  position: relative;
  .mbile-cart-item-count {
    position: absolute;
    left: -2.3em;
    top: 1.4em;
    width: 2em;
    height: 2em;
    box-shadow: $shadow;
    border-radius: 50%;
    background-color: $tint;
    h4 {
      color: $white;
      font-size: 1em;
    }
  }
  .mbile-cart {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    height: 4em;
    width: 4em;
    z-index: 1;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: $shadow;
    border-radius: 50%;
    background-color: #ffffff;
    .mbile-cart-icon {
      height: 2em;
      width: 2em;
      margin: auto !important;
    }
  }
}
