@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";

.custom-btn {
  cursor: pointer;
  width: auto;
  font-size: 15px;
  background-color: $tint;
  color: $white;
  text-transform: capitalize;
  font-family: "FiraBold";
  border: none;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $cubicTransition;
  height: 2.5em;
  border-radius: 0.5em;
  box-shadow: $shadow;
  a {
    font-family: "FiraBold";
    transition: $cubicTransition;
  }
  &:hover {
    background-color: $white;
    color: $tint;
    a {
      color: $tint;
    }
  }
}
.inverted {
  background-color: $white;
  color: $tint;
  a {
    color: $tint;
  }
  &:hover {
    background-color: $tint;
    color: $white !important;
    a {
      color: $white !important;
    }
  }
}
